@import '../../global.modules.scss';

.header {
    height: 3*$unit !important;
    line-height: 3*$unit !important;
    background: linear-gradient(to bottom, #e7e7e7 0%, #cccccc 100%) !important;
    border-top: 1px solid rgb(245,244,245) !important;
    border-bottom: 1px solid #c1c1c2 !important;
}
.sider, .content {
    background-color: #f9f9f7 !important;
}
.sider {
    border-right: $borderForSidebar;
}