@import '../../global.modules.scss';

:global(.ant-space-item) {
    padding: 0 !important;
}

.header {
    height: 3*$unit !important;
    line-height: 3*$unit !important;
    background: linear-gradient(to bottom, #e7e7e7 0%, #cccccc 100%) !important;
    border-top: 1px solid rgb(245,244,245) !important;
    border-bottom: 1px solid #c1c1c2 !important;
}
.sider, .content {
    background-color: #f9f9f7 !important;
}
.sider {
    border-right: $borderForSidebar;
}
.content {
    padding: 0 $unit;
}

@media (max-width: 1090px) {
    .header {
        height: 6*$unit  !important;
    }
}
@media (max-width: 700px) {
    section {
        height: auto !important;
    }
    .header {
        height: 9*$unit  !important;
    }
    .sider, .content {
        width: 100%  !important;
        max-width: 100%  !important;
        flex: 1 0 100%   !important;
        height: auto !important;
        &>div {
            height: auto !important;
        }
    }
    .workSection {
        flex-direction: column  !important;
    }
}
@media (max-width: 375px) {
    .header {
        height: 15*$unit  !important;
    }
}